################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MonsterMegaAdUnity/Build.rar
/Build
/Build.rar
